* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bg: #f2f2f2;
}

.voltar-icone {
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.voltar-icone img {
  width: 32px;
  height: 32px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.08));
}

body {
    background: var(--bg);
    display: flex; /**centra o conteudo na tela */
    justify-content: center; /**centra o conteudo na tela */
    align-items: center;
    height: 100vh; /**altura total da tela */
}

.container {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 950px;
  max-width: 100%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* --- FORMULÁRIO (lado esquerdo) --- */
.form-section {
  flex: 1;
  padding: 40px;
}

.form-section img {
  display: block;
  margin: 0 auto 10px;
  width: 180px;
}

.form-section h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border: none;
  background: #e9ecef;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: #1ec9f4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background: #15b2da;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.login-link a {
  color: #1ec9f4;
  text-decoration: none;
  font-weight: bold;
}

.or {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #999;
}

/* Botão Google */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 220px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
  font-size: 14px;
}

.google-btn img {
  width: 20px;
}

/* --- IMAGEM (lado direito) --- */
.image-section {
  flex: 1;
  background: #f3f8fd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Formas abstratas */
.image-section .shape {
  position: absolute;
  width: 350px;
  height: 450px;
  background: #00d2ff;
  border-radius: 50% 40% 60% 50%;
  z-index: 1;
}

.image-section .shape2 {
  position: absolute;
  width: 300px;
  height: 400px;
  background: #1a2bff;
  border-radius: 60% 50% 50% 60%;
  z-index: 2;
}

.image-section img {
  position: relative;
  width: 280px;
  border-radius: 50%;
  z-index: 3;
}